<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical">

                <a href="/reparaciones/<%= JSON.parse(reparacion)._id %>/editar" id="icono" class="archivo1">
                    <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                </a>

                <a id="icono" class="archivo1">
                    <form action="/reparaciones/<%= JSON.parse(reparacion)._id %>/historial" method="POST">
                        <button type="submit" class="btn btn-secondary"><i class="far fa-save"></i></button>
                    </form>
                </a>
                

                <a id="icono" class="archivo1">
                    <button type="button" class="btn btn-secondary" id="create_pdf"><i class="far fa-file-pdf"></i></button>
                </a>

               
                    <form action="/reparaciones/<%= JSON.parse(reparacion)._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-trash-alt"></i></button>
                    </form>
                

                <a href="/reparaciones" id="icono">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-undo-alt"></i></button>
                </a>

            </div>
        </div>
        <div class="col-10">
            <div class="card" id="form">
                <div class="card-header">
                    <h3>ALMACEN BOMBAS S.A</h3>
                    Reparacion
                    <strong><%= JSON.parse(reparacion).number %></strong>
                    <span class="float-right"> <strong>Estado:</strong> <%= JSON.parse(reparacion).estado %></span>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><strong>Cliente:</strong></h6>
                            <div>
                                <strong>Fecha: </strong>
                                <%= JSON.parse(reparacion).fecha %>
                            </div>
                            <div>
                                <strong>Nombre: </strong>
                                <%= JSON.parse(reparacion).empresa %>
                            </div>
                            <div>
                                <strong>Correo: </strong>
                                <%= JSON.parse(reparacion).correo %>
                            </div>
                            <div>
                                <strong>Telefono: </strong>
                                <%= JSON.parse(reparacion).telefono %>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <h6 class="mb-3"><strong>Equipo:</strong></h6>
                            <div>
                                <strong>Marca: </strong>
                                <%= JSON.parse(reparacion).marca %>
                            </div>
                            <div>
                                <strong>Referencia: </strong>
                                <%= JSON.parse(reparacion).referencia %>
                            </div>
                            <div>
                                <strong>Descripcion: </strong>
                                <%= JSON.parse(reparacion).descripcion %>
                            </div>
                        </div>



                    </div>

                    <div class="table-responsive-sm" id="on1" style="display: none">
                        <table class="table table-striped">
                            <thead>
                                <tr align="center">
                                    <th class="center">#</th>
                                    <th>Item</th>


                                    <th class="right">Valor</th>
                                    <th class="center">Cantidad</th>
                                    <th class="right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var j = 1, sum = 0%>
                                <% JSON.parse(reparacion).item.forEach(function(arr){ %>
                                <tr align="center">
                                    <td><%= j %></td>
                                    <% for(var i = 0, num = 0; i < arr.length; i++){%>

                                    <%  if(i === 2){ %>
                                    <td><%= parseInt(arr[2]).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                                    <td>$
                                        <%= (parseInt(arr[1]) * parseInt(arr[i])).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                                        <% sum = sum + (parseInt(arr[1]) * parseInt(arr[2])) %>
                                    </td>
                                    <%      }else{ %>
                                    <td><%= arr[i] %></td>
                                    <%      } %>
                                    <%  } %>
                                    <% j++ %>
                                </tr>
                                <% }) %>


                            </tbody>
                        </table>
                    </div>
                    <div class="row" id="on2" style="display: none">
                        <div class="col-lg-4 col-sm-5">

                        </div>

                        <div class="col-lg-4 col-sm-5 ml-auto">
                            <table class="table table-clear">
                                <tbody>
                                    <tr>
                                        <td class="left">
                                            <strong>Subtotal</strong>
                                        </td>
                                        <td class="right">$ <%= sum.toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td class="left">
                                            <strong>Discount (20%)</strong>
                                        </td>
                                        <td class="right">$1,699,40</td>
                                    </tr> -->
                                    <tr>
                                        <td class="left">
                                            <strong>Iva (19%)</strong>
                                        </td>
                                        <td class="right">$
                                            <%= (sum * 0.19).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="right">
                                            <strong>$
                                                <%= (sum * 1.19).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div class="card-footer text-muted">
                    <ul>
                        <li>A partir de la entrega de Almacen Bombas SA dispondra de 15 dias habiles para la revision y
                            entrega de la cotizacion de reparacion</li>
                        <li>A partir de la fecha en la que se entrega la cotizacion el cliente dispondra de 15 dias
                            habiles para aprobar la cotizacion o retirar
                            el equipo de no hacerlo Almacen Bombas nose hace responsable por la perdida</li>
                        <li>Todas las piezas son originales y traidas de fabrrica</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>

</div>

<script>
    var on1 = document.getElementById('on1');
    var on2 = document.getElementById('on2');
    var arc = document.getElementsByClassName('archivo1')
    var test = JSON.parse('<%- reparacion %>')
    document.addEventListener('DOMContentLoaded', function () {
       
        if (typeof test.item[0] === 'undefined' || test.item[0][0] === "") {
            console.log("vacio")
        } else {
            console.log("lleno")
            on1.style.display = "block";
            on2.style.display = "block";
        }
        if (test.estado === "Archivado") {
            arc[0].style.display = "none";
            arc[1].style.display = "none";
            arc[2].style.display = "none";
        }
        (function () {
            var
                form = $('#form'),
                cache_width = form.width(),
                a4 = [595.28, 841.89]; // for a4 size paper width and height  

            $('#create_pdf').on('click', function () {
                $('body').scrollTop(0);
                createPDF();
            });
            //create pdf  
            function createPDF() {
                getCanvas().then(function (canvas) {
                    var
                        img = canvas.toDataURL("image/png"),
                        doc = new jsPDF({
                            unit: 'px',
                            format: 'a4'
                        });
                    doc.addImage(img, 'JPEG', 20, 20);
                    doc.save('Bhavdip-html-to-pdf.pdf');
                    form.width(cache_width);
                });
            }

            // create canvas object  
            function getCanvas() {
                form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
                return html2canvas(form, {
                    imageTimeout: 2000,
                    removeContainer: true
                });
            }

        }());
    })


</script>

<% include ../partials/footer %>