<% include partials/header %>

<div style="width: 60%; margin: 0 auto;">
    <h1 align="center">Reparaciones archivadas</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr align="center">
            <th scope="col">Orden</th>
            <th scope="col">Fecha</th>
            <th scope="col">Empresa</th>
            <th scope="col">Bomba</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        <% reparaciones.forEach(function(element){ %>
            <tr align="center">
                <td ><a href="/reparaciones/<%= element.id %>"><%= element.number %></a></th>
                <td><%= element.fecha %></td>
                <td><%= element.empresa %></td>
                <td><%= element.marca + " " + element.referencia %></td>
                <td><%= element.estado %></td>
            </tr>

        <% }) %>
        </tbody>
    </table>
    <a href="/reparaciones">Volver</a>
</div>

<% include partials/footer %>