<% include partials/header %>

<div style="width: 50%; margin: 0 auto;">
    
    <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="Datos" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="Repuestos" aria-selected="false">Profile</a>
        </li>
    </ul>
    
        
    <form action="/reparaciones/<%= JSON.parse(reparacion)._id %>?_method=PUT" method="POST">
        
    <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Fecha</label>
                      <input type="date" class="form-control" name="rep[fecha]" value="<%= JSON.parse(reparacion).fecha %>">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Empresa</label>
                      <input type="text" class="form-control" name="rep[empresa]" value="<%= JSON.parse(reparacion).empresa %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Correo</label>
                        <input type="email" class="form-control" name="rep[email]" value="<%= JSON.parse(reparacion).correo %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Telefono</label>
                        <input type="number" class="form-control" name="rep[telefono]" value="<%= JSON.parse(reparacion).telefono %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Marca</label>
                        <select name="rep[marca]" class="form-control">
                            <option selected value="<%= reparacion.marca %>"><%= JSON.parse(reparacion).marca %></option>
                            <option value="goulds">Goulds</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Referencia</label>
                        <input type="text" class="form-control" name="rep[referencia]" value="<%- JSON.parse(reparacion).referencia %>">
                    </div>
                </div>
                <div class="form-group">
                    <label>Descripcion</label>
                    <textarea class="form-control" name="rep[descripcion]"><%= JSON.parse(reparacion).descripcion %></textarea>
                </div>              
                
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div id="newlink">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" id = "00" class="form-control" name="rep[item][0][0]" placeholder="repuesto">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" id = "01" class="form-control" name="rep[item][0][1]" placeholder="cantidad">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" id = "02" class="form-control" name="rep[item][0][2]" placeholder="precio">
                                </div>
                                <div class="form-group col-md-2">
                                    <a class = "btn btn-default btn-block btn-dark" href="javascript:new_link()">Nuevo</a>
                                </div>
                            </div>
                        </div>
            </div>
            
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-dark">Actualizar</button>
            </div>
        </div>
    </form>
</div>
     


    <script>
        
        var test = JSON.parse('<%- reparacion %>').item
        document.addEventListener('DOMContentLoaded', function() {
            iden = 0
            console.log(test.length)
            for(var j = 0; j < test.length; j++) {
                console.log("in")
                var arr = test[j]
                console.log(arr)
                for(var i = 0; i < arr.length; i++){
                    console.log(iden.toString() + i.toString())
                    var el = document.getElementById(iden.toString() + i.toString());
                    el.setAttribute("value", arr[i])
                }
                if(test[j+1]){
                    new_link()
                }
                iden++
            };
            
        }, false)
        $(function () {
            $('#myTab li:first-child a').tab('show')
        })

        /*
        This script is identical to the above JavaScript function.
        */
        var ct = 1;
        var c = 1;
        function new_link()
        {
            
            var div1 = document.createElement('div');
            div1.className = "form-row"
            div1.id = ct;
            //Creo el div de nombre
            var divNombre = document.createElement('div');
            divNombre.className = "form-group col-md-6"
            inputNombre = document.createElement("INPUT");
            inputNombre.setAttribute("type", "text")
            inputNombre.setAttribute("name", "rep[item]["+ct+"][0]")
            inputNombre.setAttribute("class", "form-control")
            inputNombre.setAttribute("id", c.toString()+"0")
            divNombre.appendChild(inputNombre)
            
            //Creo el div de cantidad
            var divCant = document.createElement('div');
            divCant.className = "form-group col-md-2"
            var inputCant = document.createElement("INPUT");
            inputCant.setAttribute("type", "text")
            inputCant.setAttribute("name", "rep[item]["+ct+"][1]")
            inputCant.setAttribute("class", "form-control")
            inputCant.setAttribute("id", c.toString()+"1")
            divCant.appendChild(inputCant)
            //Creo el div de precio
            var divPrec = document.createElement('div');
            divPrec.className = "form-group col-md-2"
            var inputPrec = document.createElement("INPUT");
            inputPrec.setAttribute("type", "text")
            inputPrec.setAttribute("name", "rep[item]["+ct+"][2]")
            inputPrec.setAttribute("class", "form-control")
            inputPrec.setAttribute("id", c.toString()+"2")
            divPrec.appendChild(inputPrec)
            //Creo el div del link para eliminar
            var divLink = document.createElement('div');
            divLink.className = "form-group col-md-2"
            newlink = document.createElement('a');
            newlink.setAttribute("href", "javascript:delIt("+ ct +")")
            newlink.setAttribute("class","btn btn-default btn-block btn-dark")
            newlink.innerHTML = "Eliminar"
            divLink.appendChild(newlink)
            //Creo el div ppal
            div1.appendChild(divNombre)
            div1.appendChild(divCant)
            div1.appendChild(divPrec)
            div1.appendChild(divLink)

            
         
            // link to delete extended form elements
            document.getElementById('newlink').appendChild(div1);
            ct++;
            c++;
        }
        // function to delete the newly added set of elements
        function delIt(eleId)
        {
            d = document;
            var ele = d.getElementById(eleId);
            var parentEle = d.getElementById('newlink');
            parentEle.removeChild(ele);
        }
    </script>


<% include partials/footer %>